/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 2; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto; /* 15% from the top and centered */
	padding: 10px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/* The Next and Previous Button */
.next, .pre{
	font-size:24px;
	text-decoration: none;
	position: absolute;
	z-index: 3;
	top: 50%;
	color: #f1f1f1;
	font-weight: bold;
	transition: 0.3s;
}
/* The Next Button */
.next {
	right: 10%;
}
/* The Previous Button */
.pre {
	left: 10%;
}

.next:hover ,.pre:hover{
	cursor: pointer;
	color: black;
	text-decoration: none;
}
	
img#myImg {
	position:relative;
    margin: 5% auto;
    display: block;
	max-height: 90%;
    max-width: 75%;
}